*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
.nav-container{
    background-color: rgb(66, 60, 71);
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.logo{
    font-weight: 700;
    color: #fff;
    font-size: 30px;
}
.nav-items{
    display: flex;
}
.nav-item{
    margin-right: 30px;
}
.nav-item a{
    color: #fff;
    font-size: 18px;
}
.nav-item a.active{
    border-bottom: 2px solid #fff;
}
.nav-item:last-child{
    margin-right: 0px;
}
.no-match{
    color: red;
}
.pdct-container{
    padding: 50px;
}
.pdct-item{
    margin-right: 10px;
}
.pdct-item a{
    font-size: 18px;
}
.pdct-item a.active{
    border-bottom: 2px solid #000;
}